.burger {
    box-shadow: 2px 2px 10px 0 #ccc;
    padding: 0.5em;
    position: relative;
    p,label

{
    margin: 0;
}

img {
    width: 100%;
}

.name {
    font-size: 1.2em;
}

.price {
    text-align: right;
    color: gray;
}

.vegan {
    position: absolute;
    top: 2em;
    right: 2em;
    padding: 0.5em;
    background: chartreuse;
    color: white;
    font-weight: bolder;
    border-radius: 50%;
}
}
