@page "/florian"

<h1>Page des burgers de @Nom</h1>

<div class="burgers">
    @foreach (Burger burger in Menu)
    {
        <BurgerCard burger="burger"></BurgerCard>
    }
</div>


@code {
    public string Nom { get; set; } = "Flo";

    public List<Burger> Menu { get; set; } = [
        new Burger
        {
            Id = 1,
            Name = "Super Giant",
            Price = 42,
            IsVegan = false,
            ImageUrl = "https://picsum.photos/200"
        },
        new Burger
        {
            Id = 2,
            Name = "Fish Burger",
            Price = 13,
            IsVegan = false,
            ImageUrl = "https://picsum.photos/200"
        },
        new Burger
        {
            Id = 3,
            Name = "Vega Burger",
            Price = 1,
            IsVegan = true,
            ImageUrl = "https://picsum.photos/200"
        },
    ];
}