h1 {
    color: blue;
}

.burgers {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    > * {
        width: calc(50% - 0.5em);
    }
}


@media screen and (min-width: 992px) {
    .burgers {
        > * {
            width: calc(25% - 2em / 3)
        }
    }
}
